anybadge          ~= 1.14
bandit            ~= 1.7
genbadge[all]     ~= 1.1
pdoc              ~= 13.1
pylance           ~= 0.22
pylint            ~= 2.17
pylint-report     ~= 2.4
pytest            ~= 7.3
pytest-cov        ~= 4.0
pytest-html       ~= 3.2
pytest-mock       ~= 3.10
requests          ~= 2.29
ruff              ~= 0.9
sort-requirements ~= 1.3
Sphinx            ~= 8.1