anybadge          ~= 1.14
bandit            ~= 1.7
genbadge[all]     ~= 1.1
pdoc              ~= 14.5
pylance           ~= 0.22
pylint            ~= 3.3
pylint-report     ~= 2.4
pytest            ~= 8.3
pytest-cov        ~= 6.0
pytest-html       ~= 4.1
pytest-mock       ~= 3.10
requests          ~= 2.29
ruff              ~= 0.9
sort-requirements ~= 1.3
Sphinx            ~= 8.1
